<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>   
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
    <h1>Results</h1>
    <hr class="jb-header-hr"/>
</div>  
<div class="main-wrapper text-center">
  <table class="table table-borderless hidden-md-down">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Location</th>
        <th scope="col">Date</th>
        <th scope="col">1st</th>
        <th scope="col">2nd</th>
        <th scope="col">3d</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">WylieWoos's</th>
        <td>01/02/2020</td>
        <td>Unconfimred</td>
        <td>Unconfimred</td>
        <td>Unconfimred</td>
      </tr>
    </tbody>
  </table>
    <ul class="list-group list-group-flush hidden-md-up text-left">
      <li class="list-group-item"><b>Location - </b> WylieWoo's</li>
        <li class="list-group-item"><b>Date - </b> 01/02/2020</li>
        <li class="list-group-item"><b>1st - </b> Unconfimred</li>
        <li class="list-group-item"><b>2nd - </b> Unconfimred</li>
        <li class="list-group-item"><b>3rd - </b> Unconfimred</li>
    </ul>
</div>  
    <% include ../partials/scripts.ejs %>
</body>
</html>
