<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>   
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
    <h1>Upcoming</h1>
    <hr class="jb-header-hr"/>
</div>  
<div class="main-wrapper text-center">
    <table class="table table-borderless hidden-md-down">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Location</th>
            <th scope="col">Buy-In</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Payouts</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">WylieWoos's</th>
            <td>£5</td>
            <td>01/02/2020</td>
            <td>7pm</td>
            <td>1st £15, 2nd £10, 3rd £8, 4th £7, 5th 5 </td>
          </tr>
          <tr>
            <th scope="row">Lardettinator's</th>
            <td>£10</td>
            <td>Unconfirmed</td>
            <td>Unconfirmed</td>
            <td>1st 50% - 2nd 30% - 3rd 20%</td>
          </tr>
          <tr>
            <th scope="row">Flint's</th>
            <td>£5</td>
            <td>Unconfirmed</td>
            <td>Unconfirmed</td>
            <td>1st 50% - 2nd 30% - 3rd 20%</td>
          </tr>
        </tbody>
      </table>
      <ul class="list-group list-group-flush hidden-md-up text-left">
        <li class="list-group-item"><b>Location - </b> WylieWoo's</li>
        <li class="list-group-item"><b>Buy-In - </b> £5</li>
        <li class="list-group-item"><b>Date - </b> 01/02/2020</li>
        <li class="list-group-item"><b>Time - </b> 2pm</li>
        <li class="list-group-item"><b>Payouts - </b> 1st 50% - 2nd 30% - 3rd 20%</li>
      </ul>
</div>  
    <% include ../partials/scripts.ejs %>
</body>
</html>
